<section class="flex flex-row gap-2 mt-2">
    <input 
        type="text"
        class="input input-bordered mr-2 w-56"
        placeholder="Buscar por Capital"
        autofocus
        #txtSearch
        (keyup.enter)="onSearch(txtSearch.value)"
    >

    <button class="btn btn-primary" (click)="onSearch(txtSearch.value)">Buscar</button>
</section>

<!-- TABLE -->
 <section class="mt-5">

    <table class="table table-md mt-2 w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Ícono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Población</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>

 </section>